<div *ngIf="pokemon">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row"><img class="pokemonPicture" src="{{pokemon.sprite}}"></th>
            </tr>
            <tr>
                <td>
                    <p>NAME: {{pokemon.name | uppercase}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>SPEED: {{pokemon.speed }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>ATTACK: {{pokemon.attack }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>DEFENSE: {{pokemon.defense }}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div >
    <p>EVOLUTION CHAIN:</p>
<table class="table">
    <tbody>
        <tr ><div id="imgContainer">
            <td *ngIf="evolutionChain1"> <a  href="./pokemon-detail/{{evolutionChain1.formUrl}}" ><img class="pokemonPicture" src ="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other-sprites/official-artwork/{{evolutionChain1.formUrl}}.png">
            <p>{{evolutionChain1.form | uppercase}}</p></a></td>
            <td *ngIf="evolutionChain2"><a  href="./pokemon-detail/{{evolutionChain2.formUrl}}" ><img class="pokemonPicture" src ="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other-sprites/official-artwork/{{evolutionChain2.formUrl}}.png">
            <p>{{evolutionChain2.form | uppercase}}</p></a></td>
            <td *ngIf="evolutionChain3"><a  href="./pokemon-detail/{{evolutionChain3.formUrl}}" ><img class="pokemonPicture" src ="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other-sprites/official-artwork/{{evolutionChain3.formUrl}}.png">
            <p>{{evolutionChain3.form | uppercase}}</p></a></td>
            </div>
        </tr>
    </tbody>
</table>
</div>

