p{

font-size: 1.5em;

}

#imgContainer img{

width: 30%;

}

.pokemonPicture{
  border-radius: 50%;
    display: inline-block;
    width: 200px;
    border: 1px solid gray;
    overflow: hidden;
    text-align: center;
}
